{% extends 'base.html' %}
{% load static %}


{% block title %}
Categories
{% endblock title %}


{% block content %}
<div style="padding-bottom: 3rem;">
    <h1 class="text-center display-4">Categories</h1>
</div>
<div class="row row-cols-1 row-cols-md-4 g-3" style="padding-left: 3rem; padding-right: 3rem;">
    {% for category in categories %}
    <div class="col">
        <div class="card " style="width: 12rem; height: 20rem;">
            <img src="{{ category.category_image.url }}" class="card-img-top" alt="..."
                style="width:12 rem; height: 9rem">
            <div class="card-body">
                <strong class="card-title">"{{ category.title|title }}"</strong>
                <p class="card-text">{{ category.description|truncatechars:20 }}</p>
                <br>
                <a href="{% url 'task:detail_category' category.id %}" class="btn btn-primary">Detail</a>
                <a href="{% url 'task:update_category' category.id %}" class="btn btn-danger">Update</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{# Form #}
<br>
<hr>
<br>
<div style="padding-bottom: 3rem;">
    <h1 class="text-center display-4">Add New Category</h1>
</div>
<div class="col-lg-4 container mt-3 align-items-center">
    <form action="" method="POST" class="card mb-4 container mt-3 align-items-center" enctype="multipart/form-data">
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary">
        <br>
    </form>
</div>
{% endblock content %}