<footer class="footer_container bg-dark">
    <div class="container text-center ">
        <div class="row py-3">
            <div class="col-12 text-center">
                <a class="mx-3" href=" #!" style="text-decoration:none">
                    <i class="bi-facebook fs-3"></i>
                </a>
                <a class="mx-3" href=" #!" style="text-decoration:none">
                    <i class="bi-twitter fs-3"></i>
                </a>
                <a class="mx-3" href=" #!" style="text-decoration:none">
                    <i class="bi bi-github fs-3"></i>
                </a>
                <a class="mx-3" href=" #!" style="text-decoration:none">
                    <i class="bi-instagram fs-3"></i>
                </a>
            </div>
        </div>
        <div class="row py-3 ">
            <div class="col-12">
                <a class="mx-3" href="" style="text-decoration:none">About</a>
                <a class="mx-3" href="" style="text-decoration:none">Contact</a>
                <a class="mx-3" href="" style="text-decoration:none">Terms of Use</a>
                <a class="mx-3" href="" style="text-decoration:none">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>